name: API Tests with Allure

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  api-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: |
          npm install -g @apideck/portman newman newman-reporter-allure

      - name: Run Portman & Newman (with Allure)
        run: |
          mkdir -p generated allure-results
          npx @apideck/portman \
            --local ./openapi.yaml \
            --portmanConfigFile ./portman-config.json \
            --output ./generated/reqres-collection.json \
            -n \
            --newmanRunOptions '{"reporters":["cli","allure"],"reporter-allure-export":"./allure-results"}'

      - name: Upload Allure results
        uses: actions/upload-artifact@v3
        with:
          name: allure-results
          path: allure-results

  allure-report:
    needs: api-tests
    runs-on: ubuntu-latest

    steps:
      - name: Download Allure results
        uses: actions/download-artifact@v3
        with:
          name: allure-results
          path: allure-results

      - name: Generate Allure Report
        uses: simple-elf/allure-report-action@master
        with:
          allure_results: allure-results
          allure_report: allure-report
          allure_history: allure-history

      - name: Deploy Allure Report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-report
